h2 {
  font-size: 2rem !important;
  font-size: bold;
  margin: 2rem 0 !important;
}
.styleInput {
  width: 50% !important;
  gap: 20px;
}

@media screen and (max-width: 700px) {
  .styleInput {
    width: 85% !important;
  }
}
